
    body{
        font-family: 'BhuTuka Expanded One', cursive;
    margin: 0px;
    padding: 0px;
    /*  background img we use url(img/location of img) */
    background: url(sample.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    image-resolution: 100%;
    
    
    
    }
    .navbar{
        margin:auto ;
        width: 1200px;
        height: 75px;

    }
    .navbar:hover{

        color:orange;
    }
    .icon{
        width:  200px;
        height: 72px;
        float: left;
    }
    .logo{
        color: orange;
        font-size: 35px;
        font-family: 'BhuTuka Expanded One', cursive;
        padding-left: 1px;
        float: left;
        padding-top: 42px;
    }
    
    .menu{
        width: 40px;
        float: left;
        height: 70px;
        
    }
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items:  center;
    }

    ul li{
list-style: none;
margin-left: 62px;
margin-top: 77px;
font-size: 14px;

    }
    ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        transform: 0.4s ease-in-out;
    }
    ul li a :hover{
     color: rgb(201, 99, 76);
    }

  .search{
    /* font-family: 'BhuTuka Expanded One', cursive; */
    width: 330px;
    float: right;
    margin-left: 270px;

  }
.srch{
    font-family: 'BhuTuka Expanded One', cursive;
    /* border: 0.5px solid orange; */
 position:  absolute;
    right: 120px;
    top: 66px;
    display: inline-block;
    background:transparent;
    border-radius: 10px;
    /* background-color: 1px white; */
    /* border: 2px solid yellow; */
    font-size: 15px;
    /* font-family: 'BhuTuka Expanded One', cursive; */
    /* background:transparent; */
  border: 1px solid orange;
  margin-top: 13px;
  color: white ;
  /* border-right: none; */
  font-size: 15px;
  cursor: pointer;
  
  padding: 10px;
  /* border-bottom:  solid orange; */
  /* border-top-left-radius: 5px; */

}
.btn{
    font-family: 'BhuTuka Expanded One', cursive;
    width: 95px;
    top: 78px;
    height: 42px;
    background: orange;
    border: 1px solid orange;
    margin-top: 11px;
    margin-top: 16px;
    margin: 80px 287px;
    color: rgb(8, 1, 1);
    font-size: 15px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.btn:hover{
      background-color: white;
      color: black;
}
.content{
font-family: 'BhuTuka Expanded One', cursive;
width: 1200px;
height: auto;
margin: auto;
color: white;
position: relative;
padding: 125px 50px;
margin-right: 0px;
padding-right: 20px;
}
/* .content .para{

    padding-left: 14px;
    padding-bottom: 7px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1px;
line-height: 20px;
padding-top: 20px;

} */
.content h1{

    color:  rgb(246, 248, 249);
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 43px;
    /* padding-left: 20px; */
    margin-top: 9%;
    letter-spacing: 1.5px;
    padding: 50px 1px;
    padding-top: -5px;
}   
.content .cn{
    font-family: 'BhuTuka Expanded One', cursive;
    width: 160px;
    height: 40px;
    background: orange;
    margin-bottom: 100px;
    margin-left: -14px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .4s ease;

}
.cn:hover{
    background: white;
}
.contents span{
    color: orange;
    font-size: 43px;
}
.form{

    width: 245px;
    height: 500px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
     position: absolute;
     top: 265px;
     left: 870px;
     border-radius: 10px;
     padding: 25px;

}  
.from h2{
    font-family: 'BhuTuka Expanded One', cursive;
width: 220px;

text-align: center;
color: rgb(17, 13, 12);
font-size: 22px;
 background-color: white; 
border-radius: 18px;
margin: 2px;
padding: 8px;

}
.form input{
    font-family: 'BhuTuka Expanded One', cursive;
    width: 240px;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    
}
.form input:focus{
    outline: none;

}
::placeholder{
    color: white;
    font-family: 'BhuTuka Expanded One', cursive;
    

}
.btnn{
    font-family: 'BhuTuka Expanded One', cursive;
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.btnn:hover{
      background-color: white;
      color: black;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form.link a{
 text-decoration: none;
 color: #d79249;

}

.liw{

    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}


.icons a{
    text-decoration:none;
    color: white;
}
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition:0.3s ease ;
}

.icons ion-icon:hover{

    color: rgb(11, 146, 229);
}